/* Reset */
html {
    font-size: 100%;
    -webkit-text-size-adjust: 100%; 
    -ms-text-size-adjust: 100%;
    -webkit-tap-highlight-color: transparent;
}
form {
    margin: 0;
}
html,
body {
	height: 100%;
}
img {
	border: 0;
}

/* Base Styles */
* {
	-webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -ms-box-sizing: border-box;
    -o-box-sizing: border-box;
    box-sizing: border-box;
}

body {
    font: 1.2em/1.3em 'HelveticaNeue-Light', 'Helvetica Neue Light', 'Helvetica Neue', 'Roboto-Light', 'Roboto Light', 'Roboto', 'Segoe UI Web Light', 'Segoe UI Light', 'Segoe UI Web Regular', 'Segoe UI', Helvetica, Arial, sans-serif;
    background: #453c34;
    color: #cacaca;
    margin: 0;
    padding: 0;
}

header {
    box-shadow: 0 2px 8px rgba(0,0,0,0.5);
    background: rgba(255,255,255,0.1);
    margin-bottom: 1.2em;
    text-align: center;
}

header h1 {
    font-size: 1.75em;
    line-height: 50px;
    color: #f08;
    text-shadow: 1px 2px 2px rgba(0,0,0,0.5);
    font-family: Niconne;
    font-weight: 300;
    margin: 0;
    padding: 0 1em;
}

nav {
	position: fixed;
    bottom: 0;
    width: 100%;
    text-align: center;
    
    background: -webkit-linear-gradient(top, rgba(0,0,0,0.9) 10%,rgba(0,0,0,0.53) 100%);
    background: -moz-linear-gradient(top, rgba(0,0,0,0.9) 10%,rgba(0,0,0,0.5) 10%,rgba(0,0,0,0) 100%);
    background: -ms-linear-gradient(top, rgba(0,0,0,0.9) 10%,rgba(0,0,0,0.5) 100%);
    background: -o-linear-gradient(top, rgba(0,0,0,0.9) 10%,rgba(0,0,0,0.5) 100%);
    background: linear-gradient(top, rgba(0,0,0,0.9) 10%,rgba(0,0,0,0.5) 100%);
}

footer {
    padding: 3em 1em 1em;
    font-size: 0.75em;
    text-align: right;
}

section[hidden], div[hidden] {
	display: none;
}


/* Main Pane */

#main {
    
}

#main nav {
	height: 50px;
}
#main nav ul {
	margin: 0;
	padding: 0;
	width: 100%;
	display: table;
}
#main nav li {
	list-style: none;
	margin-left: -4px;
	display: table-cell;
	text-align: center;
	line-height: 40px;
	border-top: 1px solid #111;
}
#main nav li a {
	display: block;
}
#main nav li img {
	display: inline-block;
	width: 45px;
	height: 45px;
	position: relative;
	top: 20px;
}
li.camera {
	height: 110px;
	width: 110px;
	border-radius: 50%;
	background: #221f1c;
	border: 1px solid #111;
    box-shadow: 2px -1px 2px rgba(0,0,0,0.25);
    
    position: relative;
    top: -25px;
}
#main nav li.camera:hover { /* active doesn't work on android/chrome */
	background: #0ab;
}
#filePickerContainer {
    text-align: center;
}

/* Form Elements */
label {
    font-size: 1.2em;
    padding-bottom: .5em;
    display: block;
}
input,
textarea,
select,
button {
    display: inline-block;
    font-family: 'HelveticaNeue-Light', 'Helvetica Neue Light', 'Helvetica Neue', Helvetica, sans-serif;
    font-size: 20px;
}
button,
input[type="button"] {
    padding: 8px 24px;
    margin-right: 10px;
    border-radius: 6px;
    text-shadow: 0 1px 1px rgba(255,255,255,0.75);
    vertical-align: middle;
    
    color: #fff;
    text-shadow: 1px 0 0 #333;
    border-color: rgba(0,0,0,0.1) rgba(0,0,0,0.1) rgba(0,0,0,0.25);
    background-color: #ff349a;
}

button:disabled,
input:disabled {
	opacity: .5;
}

button:enabled:active,
input[type="button"]:enabled:active {
    box-shadow: inset 0 4px 4px rgba(0,0,0,0.25);
    outline: 0;
}

input[type="button"].save-button,
input[type="button"].upload-button {
    display: inline-block;
    margin: 0.5em;
}

button.dismiss,
input[type="button"].dismiss {
    color: #fff;
    text-shadow: 1px 0 0 #333;
    border-color: rgba(0,0,0,0.1) rgba(0,0,0,0.1) rgba(0,0,0,0.25);
    background-color: #faa;
}


/* Photo */
#photoResultContainer {
    overflow: hidden;
    width: 100%;
    height: 100%;
}
#resultPhoto, #croppedPhoto, #filteredPhoto {
    width: 100%;
    height: auto;
}
h2.label {
    color: #333;
    font-weight: normal;
}
#fileinfo {
    color: #fff;
    font-size: 0.7em;
    text-shadow: 0 1px 1px rgba(0,0,0,0.75);
    
    width: 100%;
    position: fixed;
	bottom: 0;
}
.action-buttons {
	text-align: center;
	margin: 1em auto;
}

.loader {
    width: 200px;
    height: 200px;
    line-height: 200px;
    background: rgba(0,0,0,0.75);
    text-align: center;
    color: #fff;
    border-radius: 12px;
    position: fixed;
}
.errorMessage {
    color: #f00;
    margin: 0 1em 1em;
}
#filtrr2-resultPhoto {
    width: 100% !important;
    height: auto !important;
}
.evroneCropCanvas {
    cursor: move;
}

/* Thumbnails */

#thumbnails {
	margin: 0 auto;
	font-size: 0; line-height: 0;
}
.thumbnail-wrapper {
	margin-left: -2px; /* adjust for the left column thumb */
}
.thumb {
	display: inline-block;
	width: 80px;
	height: 80px;
	margin: 0 0 5px 5px;
	background-repeat: no-repeat;
	background-position: left top;
	box-shadow: inset 0 0 6px #000;
}
/*
.thumb:first-of-type {
	margin-left: 0;
}
*/

/* Filter Effects */

#filterDrawer nav {
    position: fixed;
    bottom: 0;
    width: 100%;
    text-align: center;
}

#filterDrawer .photo-effects {
    text-align: center;
    width: 100%;
    overflow-x: auto;
    overflow-y: hidden;
    white-space: nowrap;
    padding: 0 .5em;
}
#filterDrawer .photo-effects .filter {
    display: inline-block;
    margin: 3px;
    border-radius: 8px;
    box-shadow: inset 0 0 10px #000;
    height: 72px;
    width: 72px;
    cursor: pointer;
    background: url("../images/effects-thumbs.png") no-repeat 0 0;
    background-size: cover;
}
#filterDrawer .filter#normal {
    background-position: 0 -366px;    
}
#filterDrawer .filter#xpro {
    background-position: 0 -732px;
}
#filterDrawer .filter#earlybird {
    background-position: 0 0; 
}
#filterDrawer .filter#lofi {
    background-position: 0 -244px; 
}
#filterDrawer .filter#sutro {
    background-position: 0 -488px;
}
#filterDrawer .filter#toaster {
    background-position: 0 -610px;
}
#filterDrawer .filter#inkwell {
    background-position: 0 -122px;
}
.filter-tag {
    color: #fff;
    font-size: .8em;
    text-shadow: 1px 1px 1px #000;
    text-align: center;
    padding-top: 58px;
}
